@import url();
.bgImageContainer{
    background-image: url("../../../public/images/home-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgImage{
    display: block;
}