.bgImage{
    background: rgba(7, 0, 0, 0.274) url('C:\Users\marco\Documents\Programacion\Proyecto Final\FmOnlineTools\frontend\public\images\mangerFondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 15px;
    background-blend-mode: darken;
    
}